/* ? JS Styling */
.hidden {
  display: none;
  transition: all 0.5s ease;
}
.btn-container.active {
  background-color: var(--white-col);
  color: var(--primary-col);
  border-radius: 8px;
  padding: 1.2rem 3.4rem;
  transition: all 0.3s;
}
.content {
  opacity: 0;
  height: 0;
  overflow: hidden;
  transition: all 0.5s ease;
}
.content.active {
  opacity: 1;
  height: auto;
}
.inviteBtn {
  background-color: var(--primary-col);
  color: var(--white-col);
}
.aside-index {
  z-index: -2;
}

/** Task Category */
.content.category {
  opacity: 1;
  height: 100rem;
}

/** Component Settings */
.settings_width {
  flex: 2;
  z-index: 999;
}
