/* Generals  */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
:root {
  /* Colors */
  --primary-col: #ff6767;
  --prihover-col: #ff7676;
  --mixed-seconday-orange-col: #f24e1e;
  --mixed-seconday-hover-col: #f5714b;
  --orangered-col: #f21e1e;
  --primary-black-col: #000;
  --topheader-col: #f8f8f8;
  --white-col: #fff;
  --whitegray-col: #d9d9d9;
  --graywhite-col: #a1a3ab;
  --mixed-gray-col: #a1a3ab;
  --blue-col: #0225ff;
  --lightblue-col: #42ade2;
  --greenone-col: #05a301;
  --greentwo-col: #04c400;
  --secondary-white-col: #f5f8ff;
  --primary-gray-col: #888888;
  --gray-col: #747474;
}
body {
  font-family: "Rubik", "Roboto", sans-serif;
}
.home-container {
  position: relative;
}
.container {
  width: 100%;
  height: 103rem;
}
.flex {
  display: flex;
  align-items: center;
}
.grid {
  display: grid;
}
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: -1;
  transition: all 0.5s ease;
}

/** Overlay color on the vital card */
.card-overlay {
  background: rgba(0, 0, 0, 0.6);
  opacity: 0.5;
  pointer-events: none;
}

/* Component Header */
.top-header {
  position: relative;
  justify-content: space-evenly;
  padding: 3.2rem 8rem 3.2rem 9.6rem;
  background-color: var(--topheader-col);
  box-shadow: 0 0.4rem 2rem rgba(0, 0, 0, 0.1);
}
.dashboard-logo {
  font-size: 4rem;
}
.dash {
  color: var(--primary-col);
}
.board {
  color: var(--primary-black-col);
}
.searchbar {
  width: 45%;
  display: flex;
  margin-left: auto;
}
.search-box {
  width: 90%;
  border: none;
  padding: 1.2rem 0.8rem 1.2rem 1.6rem;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  font-size: 1.6rem;
  box-shadow: 0 0.4rem 1.4rem rgba(0, 0, 0, 0.2);
}
.search-box::placeholder {
  font-size: 1.4rem;
  color: var(--primary-gray-col);
}
.search-btn {
  padding: 0.8rem 1.2rem;
  border: none;
  background-color: var(--primary-col);
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 0 0.4rem 1.4rem rgba(0, 0, 0, 0.2);
  transition: all 0.3s;
}
.search-btn:hover {
  background-color: var(--prihover-col);
}
.search-btn-icon {
  color: var(--white-col);
  font-size: 2rem;
  font-weight: 700;
}
.notice-main-container {
  justify-content: center;
  gap: 4rem;
  margin-left: 5rem;
}
.icons-container {
  justify-content: space-between;
  gap: 1rem;
}
.icons-container > * {
  border: none;
  background-color: var(--primary-col);
  color: var(--white-col);
  padding: 0.8rem 1.2rem;
  font-size: 2rem;
  border-radius: 5px;
  font-weight: 700;
  cursor: pointer;
  transition: all 0.3s;
}
.date-day {
  font-size: 2rem;
  font-weight: 700;
  color: var(--primary-black-col);
}
.date {
  font-size: 1.6rem;
  font-weight: 600;
  color: var(--lightblue-col);
}

/* Main Component */
.main {
  position: relative;
  padding-top: 9.6rem;
  display: grid;
  grid-template-columns: 10fr 90fr;
}

/* Component Aside */
.aside {
  background-color: var(--primary-col);
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  padding: 1.2rem 3.2rem;
  width: 100%;
  height: 100%;
}
.userImage {
  position: absolute;
  top: 10px;
  align-items: center;
  margin-left: 9rem; /* Have to chage this late*/
}
.img {
  width: 12.8rem;
  height: 12.8rem;
  border: 2px solid var(--white-col);
  border-radius: 50%;
}
.name-container {
  margin-top: 5rem;
  padding: 0 4.8rem 1.2rem;
}
.name-container > * {
  text-align: center;
  color: var(--white-col);
}
.dashboard-name {
  font-size: 2.4rem;
  line-height: 1.4;
  font-weight: 600;
}
.dashboard-email {
  font-size: 1.6rem;
}
.contain-dashboard-nav {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 92fr 8fr;
  gap: 6.4rem;
}
.main-btn-container,
.next-btn-comtainer {
  width: 100%;
}
.btn-container,
.logout_btn {
  width: 100%;
  border: none;
  background-color: transparent;
  display: flex;
  align-items: center;
  gap: 1rem;
  text-align: left;
  margin-top: 1.2rem;
  padding: 1.2rem 1.2rem 1.2rem 0;
  color: var(--white-col);
  font-size: 1.8rem;
  cursor: pointer;
  transition: all 0.3s;
}
.btn-container:not(:first-child) {
  margin-top: 3rem;
}
.btn-container ion-icon,
.logout_btn ion-icon {
  font-size: 3rem;
}
.btn-container:hover,
.logout_btn:hover {
  background-color: var(--white-col);
  color: var(--primary-col);
  border-radius: 8px;
  padding: 1.2rem 3.4rem;
}

/* Dashboard Component */
.section-dashboard {
  padding: 0 3.2rem;
}
.dashboard-body-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.welcome > * {
  font-size: 4.4rem;
  font-weight: 600;
  margin-right: 0.2rem;
}

/* Component Dashboard Body Content */
.dashboard-body {
  height: 95rem;
  margin-top: 1.2rem;
  border-top-width: 1px;
  border-bottom-width: 1px;
  border-right-width: 2px;
  border-left-width: 2px;
  border-style: solid;
  border-color: var(--mixed-gray-col);
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 3.2rem;
  padding: 3.2rem 3.2rem 1.2rem;
  box-sizing: 0 2rem 0.6rem rgba(0, 0, 0, 0.15);
}
.todo {
  padding: 1.2rem;
  box-shadow: 0.2rem 0.1rem rgba(0, 0, 0, 0.2),
    -0.2rem 0.1rem rgba(0, 0, 0, 0.1), 0 2rem 0.6rem rgba(0, 0, 0, 0.15);
  border-radius: 11px;
}
.todo-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 1.2rem;
}
.to-do,
.add-task {
  gap: 0.4rem;
  font-size: 1.8rem;
  font-weight: 500;
}
.board-icon {
  font-size: 3rem;
  color: var(--graywhite-col);
}
.to-do p,
.status-header p,
.completed-task-header p {
  font-size: 2rem;
  color: var(--primary-col);
}
.add-task {
  padding: 0.2rem 1.2rem;
  border: none;
  background-color: transparent;
  cursor: pointer;
  transition: all 0.3s;
}
.add-task:hover {
  border: 1px solid var(--primary-col);
  border-radius: 8px;
  font-size: 1.4rem;
}
.plus-icon {
  color: var(--primary-col);
  font-size: 2rem;
  font-weight: 600;
}
.add-task p {
  color: var(--graywhite-col);
}
.todo-date {
  gap: 0.4rem;
  padding-left: 0.4rem;
  font-size: 1.6rem;
  font-weight: 500;
  color: var(--primary-black-col);
}
.today {
  color: var(--primary-gray-col);
}

/* CARDS */
.task-today {
  padding: 1.2rem;
  height: 81rem;
  overflow-y: auto;
}
.task-today::-webkit-scrollbar {
  display: none;
}
.card {
  position: relative;
  border: 1px solid var(--graywhite-col);
  border-radius: 15px;
  margin-top: 3.2rem;
  padding: 0.2rem 1.2rem 1.2rem;
}
.card-header {
  justify-content: space-between;
  font-size: 2.4rem;
  font-weight: 700;
}
.card-title-icon {
  color: var(--orangered-col);
  font-weight: 700;
}
.btn-option {
  border: none;
  font-size: 4rem;
  height: 0;
  margin-bottom: 3.6rem;
  background-color: transparent;
  color: var(--graywhite-col);
  cursor: pointer;
}
.option-action {
  position: absolute;
  top: 20%;
  left: 82%;
  background-color: var(--white-col);
  border: 1px solid var(--graywhite-col);
  border-radius: 5px;
  padding: 1.2rem;
  z-index: 10;
}
.inner-option-container {
  display: flex;
  align-items: flex-start;
  justify-content: end;
  flex-direction: column;
  gap: 1.2rem;
  text-align: left;
}
.option-btn {
  border: none;
  background-color: transparent;
  text-align: left;
  padding: 0.4rem 0.8rem 0.4rem 0;
  font-size: 1.4rem;
  cursor: pointer;
  transition: all 0.3s;
}
.option-btn:hover {
  color: var(--primary-col);
}
.card-title-text {
  width: 75%;
  position: absolute;
  top: 20px;
  font-size: 2rem;
  font-weight: 700;
  padding-left: 3.2rem;
  margin-bottom: 1.2rem;
}
.card-body {
  grid-template-columns: 90fr 10fr;
  gap: 1rem;
  padding-bottom: 1.2rem;
  margin-top: 1.2rem;
}
.card-body p {
  font-size: 1.8rem;
  padding: 1.2rem 0 1.2rem 3.2rem;
  color: var(--graywhite-col);
}
.card-image {
  width: 12.8rem;
  border: 2px solid var(--white-col);
  border-radius: 8px;
}
.card-status {
  padding: 1.2rem 0 0 3.2rem;
  gap: 1rem;
}
.card-status > * {
  font-weight: 600;
  font-size: 1.4rem;
  white-space: nowrap;
}
.card-level,
.card-start {
  color: var(--primary-black-col);
}
.level {
  color: var(--lightblue-col);
  font-weight: 500;
}
.card-start {
  margin-right: 1.2rem;
}
.start {
  color: var(--blue-col);
  font-weight: 500;
}
.created-on {
  color: var(--graywhite-col);
  font-weight: 500;
}

/* Task */
.status-container {
  padding: 1.2rem 1.2rem 3.2rem;
  box-shadow: 0.2rem 0.1rem rgba(0, 0, 0, 0.2),
    -0.2rem 0.1rem rgba(0, 0, 0, 0.1), 0 2rem 0.6rem rgba(0, 0, 0, 0.15);
  border-radius: 11px;
}
.status-header {
  gap: 0.4rem;
  font-weight: 500;
  padding-bottom: 1.2rem;
}
.progress-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  padding-bottom: 3.2rem;
}
.circle-progress {
  position: relative;
  width: 120px;
  height: 120px;
  /* width: 8rem; */
  /* height: 8rem; */
  display: grid;
}
svg {
  position: relative;
  width: 120px;
  height: 120px;
  /* width: 8rem; */
  /* height: 8rem; */
  transform: rotate(-90deg);
}
circle {
  fill: none;
  stroke-width: 8;
  /* stroke-width: 0.5rem; */
  r: 40;
  cx: 60;
  cy: 60;
  /* r: 3rem; */
  /* cx: 4rem; */
  /* cy: 4rem; */
}
circle.bg {
  stroke: #e0e0e0;
}
circle.progress {
  stroke: var(--progress-color);
  stroke-dasharray: 251.2;
  stroke-dashoffset: 251.2;
  /* stroke-dasharray: 16rem; */
  /* stroke-dashoffset: 16rem; */
  transition: stroke-dashoffset 1s ease-out;
}
.percentage {
  position: absolute;
  bottom: 38%;
  font-size: 3rem;
  font-weight: 700;
  justify-self: center;
  z-index: 1;
}
.stat-container {
  margin-top: 0.5rem;
  justify-content: center;
  gap: 0.8rem;
}
.status-red {
  color: var(--orangered-col);
  font-size: 1.2rem;
}
.status-blue {
  color: var(--blue-col);
  font-size: 1.2rem;
}
.status-green {
  color: var(--greentwo-col);
  font-size: 1.2rem;
}
.status {
  font-size: 1.8rem;
  font-weight: 700;
  color: var(--primary-black-col);
}

/* Completed Task */
.completed-task-container {
  height: 60rem;
  margin-top: 3rem;
  padding: 3.2rem 1.2rem 4.8rem;
  box-shadow: 0.2rem 0.1rem rgba(0, 0, 0, 0.2),
    -0.2rem 0.1rem rgba(0, 0, 0, 0.1), 0 2rem 0.6rem rgba(0, 0, 0, 0.15);
  border-radius: 11px;
}
.completed-card-container {
  width: 100%;
  padding: 0 3.2rem;
  overflow-y: auto;
  height: 50rem;
}
.completed-card-container::-webkit-scrollbar {
  display: none;
}
.completed-task-header {
  margin-bottom: 3.2rem;
}
.completed-title-icon {
  color: var(--greentwo-col);
  font-weight: 700;
}
.comp-body {
  grid-template-columns: 90fr 10fr;
  gap: 1rem;
  padding: 1.2rem 0 1.2rem 3.2rem;
}
.comp-body p {
  font-size: 1.8rem;
  color: var(--graywhite-col);
}
.start-comp {
  color: var(--primary-black-col);
  margin-top: 1.2rem;
}
.comp-title-icon,
.comp-start {
  color: var(--greentwo-col);
}

/* Component Vital */
.section-vitals {
  padding: 0 4.8rem;
  grid-template-columns: 40fr 60fr;
  gap: 1.2rem;
}
.vital-task,
.vital-details {
  height: 100rem;
  border: 1px solid var(--graywhite-col);
  border-radius: 11px;
}
.vital-task {
  padding: 1.8rem 3.2rem;
}
.vital-htext {
  font-size: 2.4rem;
  font-weight: 600;
}
.vital-htext span {
  border-bottom: 2px solid var(--mixed-seconday-orange-col);
}
.vital-task-container {
  padding: 1.2rem 0 0.8rem;
}

/*? Vital Card  */
.cardVital {
  position: relative;
  border: 1px solid var(--graywhite-col);
  border-radius: 15px;
  margin-top: 1.2rem;
  padding: 0.2rem 1rem 1rem;
}
.vital-header {
  justify-content: space-between;
  font-size: 2rem;
  font-weight: 700;
}
.vital-title-text {
  width: 75%;
  position: absolute;
  top: 20px;
  font-size: 1.8rem;
  font-weight: 700;
  padding-left: 3rem;
  margin-bottom: 1rem;
}
.vital-body {
  grid-template-columns: 90fr 10fr;
  gap: 1rem;
  padding: 0 1rem 1rem 0;
  margin-top: 1rem;
}
.vital-body p {
  font-size: 1.8rem;
  padding: 1rem 0 1rem 3rem;
  color: var(--graywhite-col);
}
.card-image {
  width: 12.8rem;
  border: 2px solid var(--white-col);
  border-radius: 8px;
}
.vital-status {
  padding: 1.2rem 0 0 1.2rem;
  gap: 1rem;
}
.vital-status > * {
  font-weight: 600;
  font-size: 1.3rem;
  white-space: nowrap;
}
.card-level,
.card-start {
  color: var(--primary-black-col);
}
.level {
  color: var(--lightblue-col);
  font-weight: 500;
}
.card-start {
  margin-right: 1.2rem;
}
.start {
  color: var(--blue-col);
  font-weight: 500;
}
.created-on {
  color: var(--graywhite-col);
  font-weight: 500;
}
/** Vital Detail */
.vital-details {
  padding: 2rem;
}
.vital_details_header {
  grid-template-columns: 20fr 80fr;
  gap: 1.2rem;
}
.vital_text_header {
  margin-top: 7rem;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  gap: 2rem;
}
.vital_img {
  width: 20rem;
  height: 20rem;
  border: 0.5px solid var(--graywhite-col);
  border-radius: 8px;
}
.vital-title {
  font-size: 2rem;
  font-weight: 700;
}
.vital_level,
.vital_start,
.vital_created {
  font-size: 1.4rem;
  font-weight: 600;
}
.vital_details_body {
  margin-top: 3.2rem;
  height: 68rem;
  overflow-y: auto;
}
.vital_details_body::-webkit-scrollbar {
  display: none;
}
.vital_paragraph {
  font-size: 1.4rem;
  font-weight: 500;
}
.vital_details_footer {
  margin: 1.2rem 0 0 56.5rem;
  gap: 1rem;
}
.vital-btn-icon {
  border: none;
  border-radius: 5px;
  padding: 0.8rem 1rem;
  background-color: var(--primary-col);
  cursor: pointer;
  transition: all 0.3s;
}
.vital_details_footer ion-icon {
  font-size: 2rem;
  color: var(--white-col);
}
.vital-btn-icon:hover {
  background-color: var(--prihover-col);
}

/*? SECTION MYTASK */
.section-mytask {
  padding: 0 4.8rem;
  grid-template-columns: 40fr 60fr;
  gap: 1.2rem;
}
.my-task,
.my-details {
  height: 100rem;
  border: 1px solid var(--graywhite-col);
  border-radius: 11px;
}
.my-task {
  padding: 1.8rem 3.2rem;
}

/* ? INVITE BTN setion */
.section-addtask,
.dashTask {
  position: absolute;
  top: 20rem;
  left: 35rem;
  z-index: 9;
  width: 60%;
  background-color: var(--secondary-white-col);
  border-radius: 5px;
  padding: 2rem;
}
.addtask-header {
  align-items: center;
  justify-content: space-between;
}
.addtask-header > * {
  font-size: 1.6rem;
  font-weight: 500;
}
.addtask-header p span {
  border-bottom: 2px solid var(--primary-col);
}
.back-container {
  border-bottom: 2px solid var(--lightblue-col);
}
.addtask-btn,
.dashtask-btn {
  font-size: 1.4rem;
  font-weight: 500;
  padding-top: 1.2rem;
  background-color: transparent;
  border: none;
  cursor: pointer;
  transition: all 0.3s;
}
.back-container:hover,
.addtask-btn:hover,
.dashtask-btn:hover {
  color: var(--lightblue-col);
}
.addtask-content-container {
  border: 0.5px solid var(--mixed-gray-col);
  border-radius: 1px;
  margin-top: 2rem;
  padding: 3.2rem 3.5rem;
}
.addtask-text {
  font-size: 1.8rem;
  font-weight: 500;
  color: var(--primary-black-col);
}
.addtask-date {
  margin: 2rem 0 1.2rem;
}
.addtask-search-container {
  margin-top: 1.2rem;
  align-items: center;
  gap: 1rem;
}
.search-members {
  width: 81%;
  border: 2px solid var(--graywhite-col);
  border-radius: 5px;
  font-size: 1.6rem;
  padding: 1.1rem 0.8rem;
  background-color: transparent;
}
.search-contain {
  position: relative;
}
.search-me {
  width: 70%;
}
.addtask-calendar {
  position: absolute;
  top: 7px;
  left: 56rem;
  font-size: 2.4rem;
  color: var(--mixed-gray-col);
}
.search-members:focus {
  outline: none;
}
.search-members::placeholder {
  font-size: 1.8rem;
}
.search-members-btn {
  border: none;
  background-color: var(--primary-col);
  color: var(--white-col);
  padding: 1.2rem 3.2rem;
  border-radius: 5px;
  font-size: 1.6rem;
  cursor: pointer;
  transition: all 0.3s;
}
.copylink {
  padding: 1.2rem 3.5rem;
}
.done-btn {
  margin: 3.2rem;
  border: none;
}
.search-members-btn:hover {
  background-color: var(--prihover-col);
}
.members {
  margin-top: 4.8rem;
}
.wrap-content {
  margin: 1.2rem 0 6.4rem;
  padding-right: 0.8rem;
}
.members-content {
  align-items: center;
  justify-content: space-between;
  margin-top: 1.2rem;
}
.member-details {
  gap: 2rem;
}
.member-img {
  width: 6.4rem;
  height: 6.4rem;
  border-radius: 50%;
}
.member-name-container {
  align-items: center;
  gap: 1.2rem;
  color: var(--primary-black-col);
}
.member-name {
  font-size: 2.4rem;
  font-weight: 500;
}
.member-emial {
  font-size: 1.6rem;
  font-weight: 400;
}
.edit-option {
  color: var(--primary-black-col);
  align-items: center;
  gap: 0.8rem;
  cursor: pointer;
  font-weight: 500;
  transition: all 0.3s;
}
.edit-option:hover {
  border: 0.5px solid var(--primary-black-col);
  border-radius: 5px;
  padding: 0.4rem 1.2rem;
}
.edit-text {
  font-size: 1.6rem;
}
.downarrow {
  font-size: 2rem;
}
.priority-container {
  width: 100%;
  align-items: center;
  gap: 8rem;
}
.priority-sub {
  align-items: center;
  gap: 0.8rem;
}
.priority-sub p {
  font-size: 1.8rem;
  font-weight: 400;
  color: var(--graywhite-col);
}
.priority-icon {
  font-size: 1.2rem;
}
.priority-red {
  color: var(--orangered-col);
}
.priority-blue {
  color: var(--lightblue-col);
}
.priority-green {
  color: var(--greentwo-col);
}
.description-img-container {
  grid-template-columns: 70fr 30fr;
  gap: 1.2rem;
}
.input-description {
  width: 100%;
  padding: 1.2rem;
  font-size: 1.8rem;
  border: 1px solid var(--mixed-gray-col);
  border-radius: 8px;
  background-color: transparent;
  resize: none;
}
.input-description:focus {
  outline: none;
}
.input-description::placeholder {
  color: var(--mixed-gray-col);
}
.img-sub {
  width: 100%;
  height: 83%;
  border: 1px solid var(--mixed-gray-col);
  border-radius: 8px;
  padding: 1.2rem;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1.2rem;
}
.addtask-img {
  width: 50%;
}
.img-text {
  font-size: 1.8rem;
  color: var(--mixed-gray-col);
}
.img-browser-btn {
  border: 1px solid var(--mixed-gray-col);
  border-radius: 15px;
  padding: 0.8rem 3.4rem;
  font-size: 1.6rem;
  color: var(--mixed-gray-col);
  cursor: pointer;
}

/* Component Settings */
.setting-container {
  /* padding: 3.2rem 1.2rem 4.8rem; */
  margin: 0 4.8rem;
  padding: 2rem;
  height: 100rem;
  border: 1px solid var(--graywhite-col);
  border-radius: 11px;
}
.setting-body-container {
  /* position: relative; */
  margin-top: 4.8rem;
  /* grid-template-columns: 1fr 1fr; */
  display: flex;
  width: 100%;
  /* height: ; */
  gap: 1.2rem;
}
.box {
  flex: 1;
  /* height: ; */
  transform: all 0.3s ease;
  z-index: 1;
}
.account_info-container {
  border: 1px solid var(--graywhite-col);
  border-radius: 11px;
  padding: 0.8rem 2rem 1.2rem;
}
.change_password-contaner {
  border: 1px solid var(--graywhite-col);
  border-radius: 11px;
  padding: 0.8rem 2rem 1.2rem;
}

/* 
1. Typography System (font-size)
    10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

2. Spacing System (Padding / Margin)
    2 / 4 / 8 / 12 / 32 / 48 / 64 / 80 / 96 / 128

3. Font-width
    default: 400
    medium: 500
    semi-large: 600
    large: 700

4. line-height
    default: 
    smaill: 
    medium: 

5. letter-sapcing

6. Colors
    primary: #ff6767, #000
    Tints: 
    Shade: 
    Accents: 
    Grayes:
 */
